.maNumber {
    background-color: var(--light-bg-color);
}

.maNumber p.counter {
    font-size: 50px;
    line-height: 1;
    color: var(--primary);
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}

.maNumber .stats_info h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: var(--title-color);
    font-weight: 700;
}
.maNumber p:last-child {
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding-top: 15px;
}
.maNumber .stats_info {
    background-color: var(--bg-color);
    padding: 2rem;
    border-radius: var(--card-curve);
    box-shadow: var(--card-box-shadow);
    transition: 0.3s ease;
    border: 1px solid var(--border-color-light);
}

.w3l-stats .stats_info:hover {
    box-shadow: var(--card-hover-box-shadow);
    transition: 0.3s ease;
}