
/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Nunito Sans', sans-serif;
    color: #404040;
}
/* .container {
    max-width: 1200px;
    padding: 0 25px;
} */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
  
  @media (min-width: 576px) {
    .container {
      max-width: 100%;
      padding-right: 30px;
      padding-left: 30px;
      margin-right: auto;
      margin-left: auto; } }
  
  @media (min-width: 768px) {
    .container {
      max-width: 100%;
      padding-right: 25px;
      padding-left: 25px;
      margin-right: auto;
      margin-left: auto; } }
  
  @media (min-width: 992px) {
    .container {
      max-width: 100%;
      padding-right: 25px;
      padding-left: 25px;
      margin-right: auto;
      margin-left: auto; } }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 100%;
      padding-right: 25px;
      padding-left: 25px;
      margin-right: auto;
      margin-left: auto;
      } }
  
  @media (min-width: 1280px) {
    .container {
      max-width: 1200px; } }

      .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px; }


.btn-outline-danger {
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0 30px;
    color: var(--primary);
    border-color: var(--primary);
  }
 .btn-outline-danger:hover {
    color: var(--bg-color-light);
    background-color: var(--primary);
    border-color: var(--primary);
  }

.title p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
    text-align: center;
}
.title h2{
    color: #2c3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
}
.my-3 {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
    padding-top: 15px;
}
.section-inner {
    padding-top: 3rem;
}
